html,body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
#root {
  min-height: 100%;
  background-color: rgb(252,181,113);
}
@media  screen  and (min-width: 640px) {
  #root {
          height: 100%;
  }
}

#form {
  margin: 2%
}

#button {
  float: right;
  margin: 1%;
}

#link {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  margin: 1%;
}